@model Tcc_Senai.Models.Coordenador


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br />
<br />




    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card mb-0">
                    <div class="card-body ">
                        <div class="text-center  mb-3">
                            <h5 class="mb-0">Login</h5>
                            <span class="d-block text-muted">Entre com seu usuário e senha</span>
                        </div>

                        <div class=" form-group-feedback form-group-feedback-left    ">
                            <input type="text" class="d-md-block form-control form-control-lg alpha-grey" placeholder="Usuário">
                            <div class="form-control-feedback form-control-feedback-lg">
                                <i class="icon-user  "></i>
                            </div>
                        </div>
                        <br />
                        <div class=" form-group-feedback form-group-feedback-left    ">
                            <input type="password" class="d-md-block form-control form-control-lg alpha-grey" placeholder="Senha">
                            <div class="form-control-feedback form-control-feedback-lg">
                                <i class="icon-lock2  "></i>
                            </div>
                        </div>
                        <br />


                        <div class="form-group">

                            <a href="@Url.Action("Index", "Home")"><button type="submit" class="btn btn-primary btn-block bg-info-700">Acessar <i class="icon-enter"></i></button>  </a>
                        </div>



                        <div class="text-center mb-3 ">

                            <p><a href="@Url.Action("SenhaNova", "Acesso")">Esqueceu a Senha?</a></p>


                        </div>





                        <br />
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-4">
        </div>
    </div>

